/* Scrollbar global para toda la app */
*::-webkit-scrollbar {
    width: 10px;
  }
  
  *::-webkit-scrollbar-track {
    background: #1a1a1a;
    border-radius: 8px;
  }
  
  *::-webkit-scrollbar-thumb {
    background: #00d1b2;
    border-radius: 8px;
    box-shadow: inset 0 0 5px rgba(0, 209, 178, 0.5);
    transition: background 0.3s ease;
  }
  
  *::-webkit-scrollbar-thumb:hover {
    background: #00b5a1;
  }
  
